<!DOCTYPE html>
<html>

<head>
    <title>Trabalho Front</title>
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="spa.js"></script>
    <script src="funcoes.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body ng-app="App">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h4>John's Blog</h4>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#section1">Home</a></li>
                <li><a href="#section2">Friends</a></li>
                <li><a href="#section3">Family</a></li>
                <li><a href="#section3">Photos</a></li>
            </ul><br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Blog..">
                <span class="input-group-btn">
                      <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
            </div>
        </div>



        <div align="center" class="btn-group-horizontal">
            <div class="btn-group">
                <a href="#/" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Home</a>
            </div>
            <div class="btn-group">
                <a href="#identificador" class="btn btn-primary"> <span class="glyphicon glyphicon-user"></span> Identificador </a>
            </div>
            <div class="btn-group">
                <a href="#nome" class="btn btn-primary"><span class="glyphicon glyphicon-text-width"></span> Nome</a>
            </div>
            <div class="btn-group">
                <a href="#dadosDemograficos" class="btn btn-primary"><span class="glyphicon glyphicon-globe"></span> Dados Demográficos</a>
            </div>
            <div class="btn-group">
                <a href="#endereco" class="btn btn-primary"><span class="glyphicon glyphicon-list-alt"></span> Endereço</a>
            </div>
            <div class="btn-group">
                <a href="#comunicacoes" class="btn btn-primary"><span class="glyphicon glyphicon-phone-alt"></span> Comunicações</a>
            </div>
            <div class="btn-group">
                <a href="#vinculo" class="btn btn-primary"><span class="glyphicon glyphicon-retweet"></span> Vínculo</a>
            </div>
        </div>
        </br>

        <div ng-view></div>
</body>

</html>